/* App styles */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  size: 100vw;
  background-color: white;
  padding: 20px;
  font-family: 'Helvetica Neue', sans-serif;
}

.hr {
  padding: 0;
  margin: 0;
  border: 0 none;
}

.brand_names {
  font-size: 24px;
  font-weight: 900;
  color: black;
}

.header-wrapper > div {
  display: flex;
  align-items: center;
}

.header-wrapper > div:first-child {
  margin-right: 20px;
}

.app {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  
  /* Card grid styles */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin-top: 50px;
    
  }
  
  /* Card styles */
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 20px;
    text-align: center;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
  }

  